<md-content flex hide show-gt-xs class="itemspedido">

    <div flex layout="row" style="min-height: calc(100vh - 115px)" layout-align="center center" layout-padding ng-if="cart == 0">No hay productos cargados
        en su carro de compras.
    </div>

    <div flex ng-include="'partials/itempedido.html'"></div>

</md-content>

<md-content class="totales" layout="row" layout-padding flex="none">

    <div ng-model="preneto" flex="33">Neto: {{preneto | currency}}</div>
    <div ng-model="iva" flex="33">IVA: {{iva | currency}}</div>
    <div ng-model="total" flex="33">Total: {{total | currency}}</div>

</md-content>