<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Toggle Menu">
            <md-icon md-svg-src="img/menu.svg"></md-icon>
        </md-button>
        <h1>Carro de compras</h1>
        <span flex></span>
        <!-- Activar cuando este disponible funcionalidad de borrado de los productos
           <md-button md-fab md-primary ng-click="borrarCart()">
               <md-icon
                       md-svg-src="img/ic_delete_white_24px.svg"></md-icon>
               <md-tooltip md-direction="bottom">
                   Borrar todo
               </md-tooltip>
           </md-button>
           -->
    </div>
</md-toolbar>

<div layout="column" style="overflow: auto; height: 100%;">

    <md-content class="itemspedido">

        <div md-whiteframe="3" layout="column" layout-padding="" layout-fill layout-align="center center"
             ng-if="cart == 0">No hay productos cargados en su carro de compras.
        </div>

        <div ng-include="'partials/itempedido.html'"></div>

        <md-divider></md-divider>

        <div md-warn md-whiteframe="3" layout="column" layout-align="end end" layout-padding layout-margin
             class="totalcheck">
            <div>Neto {{preneto | currency}}</div>
            <div>Iva {{iva | currency}}</div>
            <div>Total {{total | currency}}</div>
            <div ng-if="isFpago()">Se aplicará un recargo del 10% al total de su factura que será descontado si Ud.
                abona la factura a término.
            </div>
        </div>
        <md-divider></md-divider>
        <div layout-margin="">

            <md-input-container class="md-block">
                <label>Domicilio de entrega</label>
                <input type="text" name="direccionentrega" ng-model="direccionentrega"
                       ng-change="cambiarDireccion(direccionentrega)"></input>
            </md-input-container>

            <md-input-container class="md-block" layout-padding>
                <label>Observaciones</label>
                <input name="observaciones" ng-model="observaciones" type="text"
                       ng-change="setObservacion(observaciones)"></input>
            </md-input-container>

        </div>


        <div md-whiteframe="3" layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-click="checkout()" ng-disabled="cart == 0">Enviar pedido
            </md-button>
        </div>

        <md-divider></md-divider>
    </md-content>

</div>