<div class="itempedido" ng-repeat="itempedido in cart">
    <div class="descr">{{itempedido.descripcion}}</div>
    <div class="codig">Código {{itempedido.codigo}}</div>

    <md-content class="entrada">
        <input class="cantidad" ng-model="itempedido.cantidad" ng-change="updatetotales()" type="number" min="1"
               max="99999"></input>
        <span>{{itempedido.medida}}</span>
        <span ng-if="itempedido.uventa == '1'">{{itempedido.prenetoConDescuento * itempedido.cantidad| currency}}</span>
        <span ng-if="itempedido.uventa == '2'">{{itempedido.prenetoConDescuento * itempedido.factor * itempedido.cantidad| currency}}</span>
    </md-content>

    <div layout="column" layout-align="end end">
        <md-button ng-click="eliminarItem(itempedido.codigo)" class="md-raised">
            <md-icon md-svg-icon="img/ic_delete_forever_black_24px.svg" aria-label="Eliminar"></md-icon>
        </md-button>
    </div>
    <md-divider></md-divider>
</div>