<div layout-fill>
    <md-content class="login" layout="column">

        <div class="imagen" layout="row" layout-margin layout-padding layout-align="center">
            <img layout-padding src="img/logo_grupo_serin_g.png"></img>
        </div>

        <div flex="20" ng-hide="authenticationError" layout-margin layout-padding layout="row" layout-align="center">
            Ingrese su usuario y password
        </div>

        <div class="error" ng-show="authenticationError">
            Error Autenticacion ({{authenticationError.status}}). Pruebe de nuevo.
        </div>

        <form name="authForm" layout="column" layout-align="center center" layout-margin novalidate>
            <md-input-container class="md-block" layout="row" layout-margin>
                <label>Usuario</label>
                <input type="text" name="usuario" class="form-control" ng-model="usuario" required/>
            </md-input-container>
            <md-input-container class="md-block" layout-margin>
                <label>Password</label>
                <input ng-keyup="$event.keyCode == 13 && authenticate(usuario,password)" name="password" type="password"
                       class="form-control"
                       ng-model="password" required/>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button ng-click="authenticate(usuario, password)"
                           ng-disabled="authForm.$invalid"
                           class="md-raised md-primary">
                    INGRESAR
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <md-icon md-svg-src="img/ic_call_black_24px.svg"></md-icon>
                <a style="color: black; font-size: 0.9rem" href="tel:+543514994474">&nbsp;ATENCION AL CLIENTE:
                    351-4994474&nbsp;</a>
            </div>
        </form>
    </md-content>
</div>