<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Toggle Menu">
            <md-icon md-svg-src="img/menu.svg"></md-icon>
        </md-button>
        <h2>Resumen de cuenta</h2>
        <span flex></span>
        <span>Saldo total: {{saldo | currency}} </span>

    </div>
</md-toolbar>
<div layout="column" style="overflow: auto; height: 100%;">
<md-content>
<md-table-container>
    <table md-table md-row-select ng-model="selected">
        <thead md-head>
        <tr md-row>
            <th md-column><span><b>EMPRESA</b></span></th>
            <th md-column><span><b>NUMERO</b></span></th>
            <th md-column><b>FECHA</b></th>
            <th md-column><b>VENCIMIENTO</b></th>
            <th md-column md-numeric><b>IMPORTE</b></th>
            <th md-column md-numeric><b>SALDO</b></th>
            <th md-column md-numeric><b>DESCUENTO</b></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row  ng-click="getPdf(comprobante.numero)" ng-repeat="comprobante in comprobantesserin">
            <td md-cell>{{comprobante.empresa}}</td>
            <td md-cell>{{comprobante.numero}}</td>
            <td md-cell>{{comprobante.fecha | limitTo : 10 : 0 }}</td>
            <td md-cell>{{comprobante.vto | limitTo : 10 : 0}}</td>
            <td md-cell>{{comprobante.importe | currency}}</td>
            <td md-cell>{{comprobante.saldo | currency}}</td>
            <td md-cell>{{comprobante.descuento | currency}}</td>
        </tr>
        <tr md-row><td md-cell colspan="7" class="resumentotales">Saldo SERIN: {{saldoserin | currency}}</td></tr>
        <tr md-row  ng-click="getPdf(comprobante.numero)" ng-repeat="comprobante in comprobantesservet">
            <td md-cell>{{comprobante.empresa}}</td>
            <td md-cell>{{comprobante.numero}}</td>
            <td md-cell>{{comprobante.fecha | limitTo : 10 : 0 }}</td>
            <td md-cell>{{comprobante.vto | limitTo : 10 : 0}}</td>
            <td md-cell>{{comprobante.importe | currency}}</td>
            <td md-cell>{{comprobante.saldo | currency}}</td>
            <td md-cell>{{comprobante.descuento | currency}}</td>
        </tr>
        <tr md-row><td md-cell colspan="7" class="resumentotales">Saldo SERVET: {{saldoservet | currency}}</td></tr>
        </tbody>
    </table>

</md-table-container>

</md-content>

</div>
