[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.producto > div.descripcion {
    font-size: 0.8rem;
    font-weight: bold;
}

.producto > div.codigo {
    font-size: 0.6rem;
    font-weight: bold;
}

.producto div .md-button {
    font-size: 0.7rem;
}

.itempedido input[type="number"] {

    width: 100px;

}

.itempedido > div.descr {
    font-size: 0.8rem;
    font-weight: bold;
}

.itempedido > div.codig {
    font-size: 0.6rem;
    font-weight: bold;
}

/* para quitar flechas spinner en input number */
.pagina input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pagina input[type="number"] {
    width: 30px;
    -moz-appearance: textfield;
}

table.md-table th.md-column {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    /* Aqui se puede cambiar el color del HD de las tablas */
}

.totales {
    font-family: 'Archivo Narrow', sans-serif;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    word-wrap: break-word;

}

.badge {
    position: relative;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

md-sidenav {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: smaller;
}

md-sidenav.md-locked-open {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.tile {
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    border-radius: 25px;
    background-color: #3F51B5;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #ffffff;
}

md-content.md-default-theme, md-content {
    /*  background-color: lightgrey; */
}




