/*
body {
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
}*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

table.md-table th.md-column {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;

}

.totales {
    background-color: red;
    color: white;
    font-size: 0.6em;
}

.badge {
    position: relative;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

md-sidenav {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: smaller;
}

md-sidenav.md-locked-open {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.tile {
    font-style: bold;
    vertical-align: top;
    text-align: center;
    border-radius: 25px;
    background-color: #C06605;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: #ffffff;
}

.itempedido input[type="number"] {

    width: 100px;

}

md-content.md-default-theme, md-content {
    /*  background-color: lightgrey; */
}




