<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-cloak layout="row" ng-controller="indexCtrl">

<md-sidenav layout="column" layout-fill class="md-sidenav-left md-whiteframe-z2 md-navigation-drawer"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-hue-2 md-tall">
        <span flex></span>
        <div layout="row" layout-align="start center">
            <!--  <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon> -->
            <span flex></span>
        </div>
        <span flex></span>
        <div class="md-body-2">Usuario</div>

    </md-toolbar>

    <md-list>
        <md-list-item class="md-2-line" href="{{item.href}}" ng-repeat="item in menu" role="link"
                      ng-click="toggleSidenav('left')">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <!-- aqui va link menu hacia ruta en ngRoute -->
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>

    </md-list>


</md-sidenav>
<!-- Aqui va la directiva ng-view -->
<ng-view layout-fill></ng-view>
<!--Aqui termina la directiva ng-view-->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"
        type="text/javascript"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/spin.js/spin.min.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
<script src="bower_components/randomcolor/randomColor.js"></script>

<script>
    'use strict';

    angular.module('app', ['ngMaterial', 'md.data.table', 'angularSpinner', 'ngRoute'])
            .constant('config',
                    {
                        apiUrl: 'http://gruposerin.dyndns.org:8080/servicios/eikon.asmx'
                    })
            .directive('search', function () {
                return function ($scope, element) {
                    element.bind("keyup", function (event) {
                        var val = element.val();
                        if (val.length > 3) {
                            $scope.search(val);
                        }
                    });
                };
            })

            .config(function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            /* REEMPLAZAR ESTA RUTA AL COMENZAR A ENSAMBLAR RUTAS,SESIONES CON EL LOGIN
                             templateUrl : 'views/login.html',
                             controller  : 'loginController'*/
                            templateUrl: 'views/pedido.html',
                            controller: 'pedidoCtrl'
                        })
                        .when('/pedido', {
                            templateUrl: 'views/pedido.html',
                            controller: 'pedidoCtrl'
                        })
                        .when('/checkout', {
                            templateUrl: 'views/checkout.html',
                            controller: 'checkoutCtrl'
                        })
                        .when('/consultadepedidos', {
                            templateUrl: 'views/consultadepedidos.html',
                            controller: 'consuCtrl'
                        })
                        .when('/resumendecuenta', {
                            templateUrl: 'views/resumendecuenta.html',
                            controller: 'resuCtrl'
                        })
                        .otherwise({
                            redirectTo: '/'
                        });
            })
            .controller('indexCtrl', ['$scope', '$mdSidenav', function ($scope, $mdSidenav) {

                // Sidenav toggle
                $scope.toggleSidenav = function (menuId) {
                    $mdSidenav(menuId).toggle();
                };

                $scope.menu = [
                    {
                        href: '#/pedido',
                        title: 'Pedidos',
                        icon: 'img/ic_add_shopping_cart_black_24px.svg'

                    },
                    {
                        href: '#/checkout',
                        title: 'Carro de compras',
                        icon: 'img/ic_shopping_cart_black_24px.svg'

                    },
                    {
                        href: '#/consultadepedidos',
                        title: 'Consulta de pedidos',
                        icon: 'img/ic_assignment_black_24px.svg'

                    },
                    {
                        href: '#/resumendecuenta',
                        title: 'Resumen de cuenta',
                        icon: 'img/ic_account_balance_black_24px.svg'

                    }

                ];
            }]);

</script>

<script src="controllers/pedidoController.js"></script>
<script src="controllers/consuController.js"></script>
<script src="controllers/checkoutController.js"></script>
<script src="controllers/resuController.js"></script>
<script src="services/productosService.js"></script>
<script src="services/enviarpedidoService.js"></script>
<script src="services/marcasService.js"></script>
<script src="services/cartService.js"></script>

</body>
</html>