<md-card class="itempedido" ng-repeat="itempedido in cart">
    <p><b>{{itempedido.descripcion}}</b></p>
    <p>Código {{itempedido.codigo}}</p>

    <md-content layout-align="start">
        <input class="cantidad" ng-model="itempedido.cantidad" ng-change="updatetotales()" type="number" min="1" max="99999"></input>
        <span>{{itempedido.medida}}</span>
        <span ng-if="itempedido.uventa == '1'">{{itempedido.prenetoConDescuento * itempedido.cantidad| currency}}</span>
        <span ng-if="itempedido.uventa == '2'">{{itempedido.prenetoConDescuento * itempedido.factor * itempedido.cantidad| currency}}</span>
    </md-content>

    <md-card-actions layout="column" layout-align="end end">
        <md-button ng-click="eliminarItem($index)" class="md-raised">Eliminar</md-button>
    </md-card-actions>
</md-card>