<md-card class="itempedido" ng-repeat="itempedido in cart">
    <span class="md-headline">{{itempedido.descripcion}}</span>
    <span class="md-subhead">Código {{itempedido.codigo}}</span>

    <md-content layout-align="start">
        <input class="cantidad" ng-model="itempedido.cantidad" type="number" min="1" max="99999"></input>
        <span>{{itempedido.medida}}</span>
        <span>{{itempedido.prenetoConDescuento * itempedido.cantidad| currency}}</span>

    </md-content>

    <md-card-actions layout="column" layout-align="end end">
        <md-button ng-click="eliminarItem($index)" class="md-raised">Eliminar</md-button>
    </md-card-actions>
</md-card>