<md-content flex style="border: 1px solid firebrick;" layout="column" data-ng-init="buscarporoferta()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Toggle Menu">
                <md-icon md-svg-src="img/menu.svg"></md-icon>
            </md-button>
            <h2>Ofertas!</h2>
            <span flex></span>
            <md-button md-fab md-primary href="./checkout">
                <md-icon class="badge" data-badge="{{itemsummary}}"
                         md-svg-src="img/ic_shopping_cart_white_24px.svg"></md-icon>
            </md-button>
            <md-tooltip md-direction="bottom">
                Ir a carro de compras
            </md-tooltip>
        </div>

    </md-toolbar>
    <md-content flex layout-xs="column" layout="row" layout-align="center">
        <md-content flex-gt-xs="50" flex-xs="100" flex-order-xs="-2" class="productos" layout-margin>

            <div layout="column" layout-fill layout-align="center center" ng-if="productos == 0">No hay productos para
                mostrar
            </div>

            <div ng-include="'views/producto.html'"></div>
        </md-content>

        <md-content ng-include="'views/carroitemsndv.html'" flex-xs="none" flex-gt-xs="50" layout-align="end"
                    flex-order-xs="-1" layout="column">

        </md-content>

    </md-content>
</md-content>