<md-content flex style="border: 1px solid firebrick;" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Toggle Menu">
                <md-icon md-svg-src="img/menu.svg"></md-icon>
            </md-button>
            <h1>Pedido de productos por categoría</h1>
            <span flex></span>

        </div>

    </md-toolbar>
    <md-content flex layout-xs="column" layout="row" layout-align="center">
        <md-content flex-gt-xs="50" flex-xs="100" flex-order-xs="-2" class="productos">
            <md-grid-list ng-show="mostrarmarcas" md-cols-sm="2" md-cols-xs="2" md-cols-gt-sm="3"
                          md-gutter="1em"
                          md-row-height="3rem">
                <md-grid-tile md-ink-ripple class="tile" ng-repeat="tile in marcas | orderBy: 'Descripcion'"
                              ng-style="{'background-color': marcacolor}" ng-click="prodspormarca(tile.Codigo)">
                    {{tile.Descripcion}}
                </md-grid-tile>
            </md-grid-list>

            <div ng-include="'views/producto.html'"></div>
</md-content>